node_red_flow_backend.json
[
    {
        "id": "a0dc3a901fc25ecd",
        "type": "tab",
        "label": "API",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3cabf436210a7c6a",
        "type": "tab",
        "label": "CAT Telecom API",
        "disabled": false,
        "info": "`send downlink api`",
        "env": []
    },
    {
        "id": "8756e07129ce6878",
        "type": "sqlitedb",
        "z": "a0dc3a901fc25ecd",
        "db": "/home/pi/project.db",
        "mode": "RW"
    },
    {
        "id": "438fde553d5151cb",
        "type": "sqlitedb",
        "db": "/home/pi/project.db",
        "mode": "RW"
    },
    {
        "id": "30e8b6ee1c676b7c",
        "type": "websocket-listener",
        "path": "/realtime-record",
        "wholemsg": "false"
    },
    {
        "id": "5e2b69f1fee6d251",
        "type": "websocket-listener",
        "path": "/ws/realtime",
        "wholemsg": "false"
    },
    {
        "id": "985ecbc7.67a138",
        "type": "websocket-listener",
        "z": "3cabf436210a7c6a",
        "path": "/ws/simple",
        "wholemsg": "false"
    },
    {
        "id": "ece8b27cd40695be",
        "type": "websocket-listener",
        "path": "",
        "wholemsg": "false"
    },
    {
        "id": "e2d49e981fc24157",
        "type": "websocket-listener",
        "path": "/test",
        "wholemsg": "false"
    },
    {
        "id": "bf4fa91586aa8992",
        "type": "sqlite",
        "z": "a0dc3a901fc25ecd",
        "mydb": "8756e07129ce6878",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "sqlite3",
        "x": 650,
        "y": 105,
        "wires": [
            [
                "cc87ca0c5918eaee"
            ]
        ]
    },
    {
        "id": "cc87ca0c5918eaee",
        "type": "json",
        "z": "a0dc3a901fc25ecd",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": true,
        "x": 790,
        "y": 105,
        "wires": [
            [
                "4750c65c4ed0d6a1"
            ]
        ]
    },
    {
        "id": "ed1a095d8c330122",
        "type": "http in",
        "z": "a0dc3a901fc25ecd",
        "name": "realtime-record",
        "url": "/realtime-record",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 105,
        "wires": [
            [
                "15af7eba5548171f"
            ]
        ]
    },
    {
        "id": "f046d9533cc0a592",
        "type": "function",
        "z": "a0dc3a901fc25ecd",
        "name": "realtime_record",
        "func": "\nmsg.topic = \"SELECT * FROM realtime_record\";\nmsg.payload = null;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "\n",
        "finalize": "",
        "libs": [],
        "x": 465,
        "y": 105,
        "wires": [
            [
                "bf4fa91586aa8992"
            ]
        ]
    },
    {
        "id": "4750c65c4ed0d6a1",
        "type": "http response",
        "z": "a0dc3a901fc25ecd",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 940,
        "y": 105,
        "wires": []
    },
    {
        "id": "aaee6fe598a15921",
        "type": "comment",
        "z": "a0dc3a901fc25ecd",
        "name": "----------------------------------------------------Record Dashboard---------------------------------------------------------",
        "info": "",
        "x": 540,
        "y": 35,
        "wires": []
    },
    {
        "id": "15af7eba5548171f",
        "type": "jwt verify",
        "z": "a0dc3a901fc25ecd",
        "name": "",
        "alg": [
            "HS512"
        ],
        "jwkurl": "lora-dashboard",
        "secret": "loraecp321.",
        "key": "",
        "signvar": "bearer",
        "storetoken": "token",
        "x": 285,
        "y": 105,
        "wires": [
            [
                "f046d9533cc0a592"
            ]
        ]
    },
    {
        "id": "fde104bfeddf8163",
        "type": "http in",
        "z": "a0dc3a901fc25ecd",
        "name": "user-register",
        "url": "/user-register",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 105,
        "y": 420,
        "wires": [
            [
                "35bbb3afa6c102f6"
            ]
        ]
    },
    {
        "id": "89afca9e274ca5c3",
        "type": "sqlite",
        "z": "a0dc3a901fc25ecd",
        "mydb": "8756e07129ce6878",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "sqlite3",
        "x": 855,
        "y": 420,
        "wires": [
            [
                "2ae54da552b5eafc"
            ]
        ]
    },
    {
        "id": "f93a8d29fe7f8a42",
        "type": "function",
        "z": "a0dc3a901fc25ecd",
        "name": "insert ",
        "func": "var username = msg.user.username;\nvar pass = msg.user.password;\nvar email = msg.user.email;\nmsg.topic = null;\n\nmsg.topic = \"INSERT INTO user (User,Password,Email) VALUES ('\"+username+\"','\"+pass+\"','\"+email+\"');\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 715,
        "y": 420,
        "wires": [
            [
                "89afca9e274ca5c3"
            ]
        ]
    },
    {
        "id": "cc47c030702a4f25",
        "type": "jwt sign",
        "z": "a0dc3a901fc25ecd",
        "name": "Sign",
        "alg": "HS512",
        "exp": "30d",
        "jwkurl": "http://localhost:1880/priv_jwk",
        "jwkkid": "lora-dashboard",
        "secret": "loraecp321.",
        "key": "",
        "signvar": "payload",
        "storetoken": "payload",
        "x": 680,
        "y": 560,
        "wires": [
            [
                "80b8dfd896aa9e81"
            ]
        ]
    },
    {
        "id": "80b8dfd896aa9e81",
        "type": "jwt verify",
        "z": "a0dc3a901fc25ecd",
        "name": "Verify",
        "alg": [
            "HS512"
        ],
        "jwkurl": "lora-dashboard",
        "secret": "loraecp321.",
        "key": "",
        "signvar": "payload",
        "storetoken": "token",
        "x": 825,
        "y": 560,
        "wires": [
            [
                "1d7a49f070c9bc9e"
            ]
        ]
    },
    {
        "id": "35bbb3afa6c102f6",
        "type": "function",
        "z": "a0dc3a901fc25ecd",
        "name": "check user",
        "func": "var user = {};\nuser[\"username\"] = msg.payload.User;\nuser[\"password\"] = msg.payload.PassWord;\nuser[\"email\"] = msg.payload.Email;\nmsg.payload = null;\n//msg.req = null;\n//msg.res = null;\nmsg.user = user;\nmsg.topic = \"SELECT * FROM user WHERE User ='\" + user.username + \"'AND Password = '\" + user.password +\"'AND Email = '\"+user.email+\"';\"\nreturn [msg,user];\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 420,
        "wires": [
            [
                "877a75af90c2f4d4"
            ]
        ]
    },
    {
        "id": "03305257c50caa78",
        "type": "switch",
        "z": "a0dc3a901fc25ecd",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "empty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 575,
        "y": 420,
        "wires": [
            [
                "10fb385055d46c82"
            ],
            [
                "f93a8d29fe7f8a42"
            ]
        ]
    },
    {
        "id": "877a75af90c2f4d4",
        "type": "sqlite",
        "z": "a0dc3a901fc25ecd",
        "mydb": "8756e07129ce6878",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "sqlite3",
        "x": 440,
        "y": 420,
        "wires": [
            [
                "03305257c50caa78"
            ]
        ]
    },
    {
        "id": "27db7a389b0afe21",
        "type": "template",
        "z": "a0dc3a901fc25ecd",
        "name": "0",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n  \"status\": \"0\",\n  \"user\":\"{{payload}}\",\n  \"message\": \"ชื่อผู้ใช้หรือรหัสผ่านซ้ำ\"\n}",
        "output": "json",
        "x": 855,
        "y": 385,
        "wires": [
            [
                "7aebd84432361c40"
            ]
        ]
    },
    {
        "id": "863806fadf27cd6d",
        "type": "template",
        "z": "a0dc3a901fc25ecd",
        "name": "1",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n  \"status\": \"1\",\n  \"user\": \"{{payload}}\",\n  \"massage\":\"Sign in Success\"\n}",
        "output": "json",
        "x": 855,
        "y": 455,
        "wires": [
            [
                "7aebd84432361c40"
            ]
        ]
    },
    {
        "id": "1d7a49f070c9bc9e",
        "type": "template",
        "z": "a0dc3a901fc25ecd",
        "name": "success",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{ \n    \"status\":\"1\",\n    \"messege\":\"login success\",\n    \"access_token\": \"{{payload}}\"\n}",
        "output": "json",
        "x": 830,
        "y": 595,
        "wires": [
            [
                "7aebd84432361c40"
            ]
        ]
    },
    {
        "id": "10fb385055d46c82",
        "type": "function",
        "z": "a0dc3a901fc25ecd",
        "name": "res",
        "func": "var username = msg.user.username;\nvar req = msg.req;\nvar res = msg.res;\nmsg.payload = null;\nmsg.topic = null;\nmsg.payload = username;\nmsg.req = req;\nmsg.res = res;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 385,
        "wires": [
            [
                "27db7a389b0afe21"
            ]
        ]
    },
    {
        "id": "2ae54da552b5eafc",
        "type": "function",
        "z": "a0dc3a901fc25ecd",
        "name": "res",
        "func": "var username = msg.user.username;\nvar req = msg.req;\nvar res = msg.res;\nmsg.payload = null;\nmsg.topic = null;\nmsg.payload = username;\nmsg.req = req;\nmsg.res = res;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 715,
        "y": 455,
        "wires": [
            [
                "863806fadf27cd6d"
            ]
        ]
    },
    {
        "id": "67fa6242b8b06175",
        "type": "http in",
        "z": "a0dc3a901fc25ecd",
        "name": "user-login",
        "url": "/user-login",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 95,
        "y": 525,
        "wires": [
            [
                "9fa2e062d797b960",
                "881f7c42baab3b41"
            ]
        ]
    },
    {
        "id": "9fa2e062d797b960",
        "type": "function",
        "z": "a0dc3a901fc25ecd",
        "name": "check user",
        "func": "var username = msg.payload.User;\nvar pass = msg.payload.PassWord;\nmsg.payload = null;\nmsg.topic = \"SELECT User FROM user WHERE User ='\" + username+ \"'AND Password = '\" + pass +\"';\"\nreturn msg\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 525,
        "wires": [
            [
                "6a27097611fe7258"
            ]
        ]
    },
    {
        "id": "6a27097611fe7258",
        "type": "sqlite",
        "z": "a0dc3a901fc25ecd",
        "mydb": "438fde553d5151cb",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "sqlite3",
        "x": 440,
        "y": 525,
        "wires": [
            [
                "e329fa66cf15ff73"
            ]
        ]
    },
    {
        "id": "e329fa66cf15ff73",
        "type": "switch",
        "z": "a0dc3a901fc25ecd",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 580,
        "y": 525,
        "wires": [
            [
                "7326591e07692c5f"
            ],
            [
                "ed5c7eb33c65b618"
            ]
        ]
    },
    {
        "id": "7326591e07692c5f",
        "type": "template",
        "z": "a0dc3a901fc25ecd",
        "name": "failed",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n  \"status\": \"0\",\n  \"message\": \"ชื่อผู้ใช้หรือรหัสผ่านไม่ถูกต้อง\"\n}",
        "output": "json",
        "x": 715,
        "y": 490,
        "wires": [
            [
                "7aebd84432361c40"
            ]
        ]
    },
    {
        "id": "7aebd84432361c40",
        "type": "http response",
        "z": "a0dc3a901fc25ecd",
        "name": "",
        "statusCode": "200",
        "headers": {
            "content-type": "application/json"
        },
        "x": 1060,
        "y": 490,
        "wires": []
    },
    {
        "id": "ed5c7eb33c65b618",
        "type": "function",
        "z": "a0dc3a901fc25ecd",
        "name": "res 1",
        "func": "msg.payload = msg.payload[0].User;\nmsg.topic = null;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 715,
        "y": 525,
        "wires": [
            [
                "939eb779cd0fa105"
            ]
        ]
    },
    {
        "id": "939eb779cd0fa105",
        "type": "template",
        "z": "a0dc3a901fc25ecd",
        "name": "state 1",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n  \"status\": \"1\",\n  \"user\":\"{{payload}}\",\n  \"message\": \"ลงชื่อเข้าใช้สำเร็จ\"\n}",
        "output": "json",
        "x": 820,
        "y": 525,
        "wires": [
            [
                "cc47c030702a4f25"
            ]
        ]
    },
    {
        "id": "159afe99a1308b31",
        "type": "http in",
        "z": "a0dc3a901fc25ecd",
        "name": "create-device",
        "url": "/create-device",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 105,
        "y": 945,
        "wires": [
            [
                "3103fdab7b0c39d1"
            ]
        ]
    },
    {
        "id": "00b8949d8bdb27fa",
        "type": "sqlite",
        "z": "a0dc3a901fc25ecd",
        "mydb": "438fde553d5151cb",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "sqlite3",
        "x": 720,
        "y": 980,
        "wires": [
            [
                "bd830db68cb281d0"
            ]
        ]
    },
    {
        "id": "28e1b32d3a6b2e3b",
        "type": "function",
        "z": "a0dc3a901fc25ecd",
        "name": "check ",
        "func": "\nvar device = {};\ndevice[\"deviceId\"] = msg.payload.deviceId\ndevice[\"deviceName\"] = msg.payload.deviceName\ndevice[\"deviceDetail\"] = msg.payload.deviceDetail\ndevice[\"deviceStatus\"] = msg.payload.deviceStatus\n\nmsg.topic = \"select * from device where deviceId =\" + device.deviceId + \";\"\n\nmsg.Device = device;\nreturn msg\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 435,
        "y": 945,
        "wires": [
            [
                "a40a6dcc12527c70"
            ]
        ]
    },
    {
        "id": "42535f31269e0bf1",
        "type": "switch",
        "z": "a0dc3a901fc25ecd",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "empty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 715,
        "y": 910,
        "wires": [
            [
                "720dc90e2b693c85"
            ],
            [
                "9c0de49dfc70b20e"
            ]
        ]
    },
    {
        "id": "43bc081083eeb608",
        "type": "template",
        "z": "a0dc3a901fc25ecd",
        "name": "ไอดีซ้ำ",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n  \"status\": \"0\",\n  \"deviceId\":\"{{payload}}\",\n  \"message\": \"device id ซ้ำ\"\n}",
        "output": "json",
        "x": 860,
        "y": 945,
        "wires": [
            [
                "46a1f9f4bac088dc"
            ]
        ]
    },
    {
        "id": "988a93f29c97834f",
        "type": "template",
        "z": "a0dc3a901fc25ecd",
        "name": "1",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n  \"status\": \"1\",\n  \"deviceId\": \"{{payload}}\",\n  \"massage\":\"Crate Device Success\"\n}",
        "output": "json",
        "x": 860,
        "y": 1015,
        "wires": [
            [
                "46a1f9f4bac088dc"
            ]
        ]
    },
    {
        "id": "720dc90e2b693c85",
        "type": "function",
        "z": "a0dc3a901fc25ecd",
        "name": "res",
        "func": "msg.payload = msg.Device.deviceId;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 910,
        "wires": [
            [
                "43bc081083eeb608"
            ]
        ]
    },
    {
        "id": "bd830db68cb281d0",
        "type": "function",
        "z": "a0dc3a901fc25ecd",
        "name": "res",
        "func": "msg.payload = msg.Device.deviceId;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 1015,
        "wires": [
            [
                "988a93f29c97834f"
            ]
        ]
    },
    {
        "id": "9c0de49dfc70b20e",
        "type": "function",
        "z": "a0dc3a901fc25ecd",
        "name": "crate ",
        "func": "\nvar device = {};\ndevice[\"deviceId\"] = msg.Device.deviceId\ndevice[\"deviceName\"] = msg.Device.deviceName\ndevice[\"deviceDetail\"] = msg.Device.deviceDetail\ndevice[\"deviceStatus\"] = msg.Device.deviceStatus\n\nmsg.topic = \"insert into device(deviceId,deviceName,deviceDetail,deviceStatus) values (\"+device.deviceId+\",'\"+device.deviceName+\"','\"+device.deviceDetail+\"',\"+device.deviceStatus+\");\"\nmsg.payload = device;\nreturn msg\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 715,
        "y": 945,
        "wires": [
            [
                "00b8949d8bdb27fa"
            ]
        ]
    },
    {
        "id": "a40a6dcc12527c70",
        "type": "sqlite",
        "z": "a0dc3a901fc25ecd",
        "mydb": "438fde553d5151cb",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "sqlite3",
        "x": 575,
        "y": 945,
        "wires": [
            [
                "42535f31269e0bf1"
            ]
        ]
    },
    {
        "id": "3103fdab7b0c39d1",
        "type": "jwt verify",
        "z": "a0dc3a901fc25ecd",
        "name": "verify",
        "alg": [
            "HS512"
        ],
        "jwkurl": "lora-dashboard",
        "secret": "loraecp321.",
        "key": "",
        "signvar": "bearer",
        "storetoken": "token",
        "x": 295,
        "y": 945,
        "wires": [
            [
                "28e1b32d3a6b2e3b"
            ]
        ]
    },
    {
        "id": "be2ef3017d7822f4",
        "type": "http in",
        "z": "a0dc3a901fc25ecd",
        "name": "device-status",
        "url": "/device-status",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 105,
        "y": 770,
        "wires": [
            [
                "a36c23944eed95e8"
            ]
        ]
    },
    {
        "id": "eb84ae2bdb848706",
        "type": "sqlite",
        "z": "a0dc3a901fc25ecd",
        "mydb": "8756e07129ce6878",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "sqlite3",
        "x": 570,
        "y": 770,
        "wires": [
            [
                "6f5ea170aaa30850"
            ]
        ]
    },
    {
        "id": "85b74bdd34a7698a",
        "type": "function",
        "z": "a0dc3a901fc25ecd",
        "name": "update",
        "func": "var id = msg.payload.deviceId;\nvar state = msg.payload.deviceStatus;\n\nmsg.topic = \"update device set deviceStatus = \"+state+\" where deviceId = \"+id+\";\"\nmsg.payload = null;\nmsg.deviceId = id;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "\n",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 770,
        "wires": [
            [
                "eb84ae2bdb848706"
            ]
        ]
    },
    {
        "id": "6f5ea170aaa30850",
        "type": "template",
        "z": "a0dc3a901fc25ecd",
        "name": "status",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"status\":\"update success\"\n}",
        "output": "json",
        "x": 710,
        "y": 770,
        "wires": [
            [
                "9332bcc47dd4ec97"
            ]
        ]
    },
    {
        "id": "5252f9daaf441a83",
        "type": "http in",
        "z": "a0dc3a901fc25ecd",
        "name": "device",
        "url": "/device",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 85,
        "y": 875,
        "wires": [
            [
                "95bdd810ff9db547"
            ]
        ]
    },
    {
        "id": "5d1dfbbdf2b7ea64",
        "type": "function",
        "z": "a0dc3a901fc25ecd",
        "name": "get",
        "func": "if(msg.payload.deviceId != null){\n    var id = msg.payload.deviceId;\n    msg.topic = \"SELECT * FROM device Where deviceId = \"+id+\";\"\n    return msg;\n}else{\n    msg.topic = \"SELECT * FROM device INNER JOIN realtime_record on device.deviceId = realtime_record.dev_id_fk;\";\n    return msg;\n}\n\nmsg.payload = null;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "\n",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 875,
        "wires": [
            [
                "afdaba658dce20cc"
            ]
        ]
    },
    {
        "id": "95bdd810ff9db547",
        "type": "jwt verify",
        "z": "a0dc3a901fc25ecd",
        "name": "verify",
        "alg": [
            "HS512"
        ],
        "jwkurl": "lora-dashboard",
        "secret": "loraecp321.",
        "key": "",
        "signvar": "bearer",
        "storetoken": "token",
        "x": 295,
        "y": 875,
        "wires": [
            [
                "5d1dfbbdf2b7ea64"
            ]
        ]
    },
    {
        "id": "afdaba658dce20cc",
        "type": "sqlite",
        "z": "a0dc3a901fc25ecd",
        "mydb": "8756e07129ce6878",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "sqlite3",
        "x": 580,
        "y": 875,
        "wires": [
            [
                "e042b148613f3c71"
            ]
        ]
    },
    {
        "id": "e042b148613f3c71",
        "type": "json",
        "z": "a0dc3a901fc25ecd",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": true,
        "x": 715,
        "y": 875,
        "wires": [
            [
                "46a1f9f4bac088dc"
            ]
        ]
    },
    {
        "id": "0ea8bc5d25222b6e",
        "type": "http in",
        "z": "a0dc3a901fc25ecd",
        "name": "device-edit",
        "url": "/device-edit",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 95,
        "y": 805,
        "wires": [
            [
                "857260bd7115ce5d"
            ]
        ]
    },
    {
        "id": "46a1f9f4bac088dc",
        "type": "http response",
        "z": "a0dc3a901fc25ecd",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 1075,
        "y": 840,
        "wires": []
    },
    {
        "id": "db35689e213c50e7",
        "type": "sqlite",
        "z": "a0dc3a901fc25ecd",
        "mydb": "8756e07129ce6878",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "sqlite3",
        "x": 570,
        "y": 805,
        "wires": [
            []
        ]
    },
    {
        "id": "44909aca2e313826",
        "type": "function",
        "z": "a0dc3a901fc25ecd",
        "name": "edit",
        "func": "var id = msg.payload.deviceId;\nvar name = msg.payload.deviceName;\nvar desc = msg.payload.deviceDetail;\nvar msg2 = { \"topic\": \"select * from device where deviceId = \" + id +\";\"};\nmsg2[\"req\"] = msg.req;\nmsg2[\"res\"] = msg.res;\n\nmsg.topic = \"update device set deviceName = '\" + name +\"' , deviceDetail = '\"+desc+\"' where deviceId = \"+id+\";\"\nmsg.payload = null;\n\nreturn [msg,msg2];\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "\n",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 805,
        "wires": [
            [
                "db35689e213c50e7"
            ],
            [
                "c34adeec15da0a30"
            ]
        ]
    },
    {
        "id": "d6d34f4f467d5788",
        "type": "template",
        "z": "a0dc3a901fc25ecd",
        "name": "status",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"status\":\"edit success\",\n    \"payload\":{ \"deviceId\":\"{{payload.0.deviceId}}\",\n                \"deviceName\":\"{{payload.0.deviceName}}\",\n                \"deviceDetail\":\"{{payload.0.deviceDetail}}\"}\n    \n}",
        "output": "json",
        "x": 715,
        "y": 840,
        "wires": [
            [
                "46a1f9f4bac088dc"
            ]
        ]
    },
    {
        "id": "414620d5e3786d3d",
        "type": "http in",
        "z": "a0dc3a901fc25ecd",
        "name": "device-remove",
        "url": "/device-remove",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 115,
        "y": 735,
        "wires": [
            [
                "6f11af254ac84b77"
            ]
        ]
    },
    {
        "id": "e9c9156672740636",
        "type": "sqlite",
        "z": "a0dc3a901fc25ecd",
        "mydb": "8756e07129ce6878",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "sqlite3",
        "x": 570,
        "y": 735,
        "wires": [
            [
                "0c4f40c7a6687adf"
            ]
        ]
    },
    {
        "id": "7761267ece7533e3",
        "type": "function",
        "z": "a0dc3a901fc25ecd",
        "name": "remove",
        "func": "var id = msg.payload.deviceId;\nvar state = msg.payload.deviceStatus;\n\nmsg.topic = \"delete from device where deviceId = \" + id +\";\"\nmsg.payload = null;\nmsg.deviceId = id;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "\n",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 735,
        "wires": [
            [
                "e9c9156672740636"
            ]
        ]
    },
    {
        "id": "0c4f40c7a6687adf",
        "type": "template",
        "z": "a0dc3a901fc25ecd",
        "name": "status",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"status\":\"remove success\"\n}",
        "output": "json",
        "x": 710,
        "y": 735,
        "wires": [
            [
                "46a1f9f4bac088dc"
            ]
        ]
    },
    {
        "id": "a36c23944eed95e8",
        "type": "jwt verify",
        "z": "a0dc3a901fc25ecd",
        "name": "verify",
        "alg": [
            "HS512"
        ],
        "jwkurl": "lora-dashboard",
        "secret": "loraecp321.",
        "key": "",
        "signvar": "bearer",
        "storetoken": "token",
        "x": 295,
        "y": 770,
        "wires": [
            [
                "85b74bdd34a7698a"
            ]
        ]
    },
    {
        "id": "857260bd7115ce5d",
        "type": "jwt verify",
        "z": "a0dc3a901fc25ecd",
        "name": "verify",
        "alg": [
            "HS512"
        ],
        "jwkurl": "lora-dashboard",
        "secret": "loraecp321.",
        "key": "",
        "signvar": "bearer",
        "storetoken": "token",
        "x": 295,
        "y": 805,
        "wires": [
            [
                "44909aca2e313826"
            ]
        ]
    },
    {
        "id": "6f11af254ac84b77",
        "type": "jwt verify",
        "z": "a0dc3a901fc25ecd",
        "name": "verify",
        "alg": [
            "HS512"
        ],
        "jwkurl": "lora-dashboard",
        "secret": "loraecp321.",
        "key": "",
        "signvar": "bearer",
        "storetoken": "token",
        "x": 295,
        "y": 735,
        "wires": [
            [
                "7761267ece7533e3"
            ]
        ]
    },
    {
        "id": "69469dbad0a4c3c0",
        "type": "sqlite",
        "z": "a0dc3a901fc25ecd",
        "mydb": "8756e07129ce6878",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "sqlite3",
        "x": 715,
        "y": 805,
        "wires": [
            [
                "d6d34f4f467d5788"
            ]
        ]
    },
    {
        "id": "c34adeec15da0a30",
        "type": "delay",
        "z": "a0dc3a901fc25ecd",
        "name": "delay",
        "pauseType": "delay",
        "timeout": "300",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 575,
        "y": 840,
        "wires": [
            [
                "69469dbad0a4c3c0"
            ]
        ]
    },
    {
        "id": "18fe1116e6a3ca9a",
        "type": "comment",
        "z": "a0dc3a901fc25ecd",
        "name": "------------------------------------Register & Login------------------------------------------------------------------------",
        "info": "",
        "x": 540,
        "y": 315,
        "wires": []
    },
    {
        "id": "52078e4e497b16de",
        "type": "comment",
        "z": "a0dc3a901fc25ecd",
        "name": "------------------------------------Dvice Management------------------------------------------------------------------------",
        "info": "",
        "x": 585,
        "y": 665,
        "wires": []
    },
    {
        "id": "741698166dea3e70",
        "type": "sqlite",
        "z": "a0dc3a901fc25ecd",
        "mydb": "8756e07129ce6878",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "sqlite3",
        "x": 650,
        "y": 140,
        "wires": [
            [
                "18e56ba9ce47cce4"
            ]
        ]
    },
    {
        "id": "18e56ba9ce47cce4",
        "type": "json",
        "z": "a0dc3a901fc25ecd",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": true,
        "x": 790,
        "y": 140,
        "wires": [
            [
                "f1c893e5c6f0cab1"
            ]
        ]
    },
    {
        "id": "26f054111c10d0af",
        "type": "http in",
        "z": "a0dc3a901fc25ecd",
        "name": "record-per-day",
        "url": "/record-per-day",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 140,
        "wires": [
            [
                "2dd646d1763e3a86"
            ]
        ]
    },
    {
        "id": "d59322457c32aee0",
        "type": "function",
        "z": "a0dc3a901fc25ecd",
        "name": "record_per_day",
        "func": "\nmsg.topic = \"SELECT * FROM record_per_day\";\nmsg.payload = null;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "\n",
        "finalize": "",
        "libs": [],
        "x": 465,
        "y": 140,
        "wires": [
            [
                "741698166dea3e70"
            ]
        ]
    },
    {
        "id": "f1c893e5c6f0cab1",
        "type": "http response",
        "z": "a0dc3a901fc25ecd",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 940,
        "y": 140,
        "wires": []
    },
    {
        "id": "2dd646d1763e3a86",
        "type": "jwt verify",
        "z": "a0dc3a901fc25ecd",
        "name": "",
        "alg": [
            "HS512"
        ],
        "jwkurl": "lora-dashboard",
        "secret": "loraecp321.",
        "key": "",
        "signvar": "bearer",
        "storetoken": "token",
        "x": 285,
        "y": 140,
        "wires": [
            [
                "d59322457c32aee0"
            ]
        ]
    },
    {
        "id": "fbbf00eca664d9ce",
        "type": "sqlite",
        "z": "a0dc3a901fc25ecd",
        "mydb": "8756e07129ce6878",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "sqlite3",
        "x": 650,
        "y": 175,
        "wires": [
            [
                "5c445fe0746f2db0"
            ]
        ]
    },
    {
        "id": "5c445fe0746f2db0",
        "type": "json",
        "z": "a0dc3a901fc25ecd",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": true,
        "x": 790,
        "y": 175,
        "wires": [
            [
                "87de74353d79262f"
            ]
        ]
    },
    {
        "id": "11eb77698fb9179d",
        "type": "http in",
        "z": "a0dc3a901fc25ecd",
        "name": "record-per-month",
        "url": "/record-per-month",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 175,
        "wires": [
            [
                "a0cac68fb7f29f05"
            ]
        ]
    },
    {
        "id": "79873453ad24791b",
        "type": "function",
        "z": "a0dc3a901fc25ecd",
        "name": "record_per_month",
        "func": "\nmsg.topic = \"SELECT r.id_record_per_day, r.power_total_month, CAST(strftime('%s', r.create_at) AS INT) as create_at, r.dev_id FROM record_per_month as r;\";\nmsg.payload = null;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "\n",
        "finalize": "",
        "libs": [],
        "x": 475,
        "y": 175,
        "wires": [
            [
                "fbbf00eca664d9ce"
            ]
        ]
    },
    {
        "id": "87de74353d79262f",
        "type": "http response",
        "z": "a0dc3a901fc25ecd",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 940,
        "y": 175,
        "wires": []
    },
    {
        "id": "a0cac68fb7f29f05",
        "type": "jwt verify",
        "z": "a0dc3a901fc25ecd",
        "name": "",
        "alg": [
            "HS512"
        ],
        "jwkurl": "lora-dashboard",
        "secret": "loraecp321.",
        "key": "",
        "signvar": "bearer",
        "storetoken": "token",
        "x": 285,
        "y": 175,
        "wires": [
            [
                "79873453ad24791b"
            ]
        ]
    },
    {
        "id": "34c1448c7607bef6",
        "type": "sqlite",
        "z": "a0dc3a901fc25ecd",
        "mydb": "438fde553d5151cb",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "sqlite3",
        "x": 650,
        "y": 1190,
        "wires": [
            [
                "9abbe49cc8bc8a27"
            ]
        ]
    },
    {
        "id": "d87df3afdcf49027",
        "type": "http in",
        "z": "a0dc3a901fc25ecd",
        "name": "device-configure",
        "url": "/device-configure",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 1190,
        "wires": [
            [
                "ee88e952383c9759"
            ]
        ]
    },
    {
        "id": "ee88e952383c9759",
        "type": "jwt verify",
        "z": "a0dc3a901fc25ecd",
        "name": "verify",
        "alg": [
            "HS512"
        ],
        "jwkurl": "lora-dashboard",
        "secret": "loraecp321.",
        "key": "",
        "signvar": "bearer",
        "storetoken": "token",
        "x": 295,
        "y": 1190,
        "wires": [
            [
                "908cde117b439d83"
            ]
        ]
    },
    {
        "id": "908cde117b439d83",
        "type": "function",
        "z": "a0dc3a901fc25ecd",
        "name": "get realtime_rec",
        "func": "\nmsg.topic = \"SELECT energy FROM realtime_record ; \"\n\nmsg.configures = msg.payload.configures;\nmsg.ids = msg.payload.ids\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "\n",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 1190,
        "wires": [
            [
                "34c1448c7607bef6"
            ]
        ]
    },
    {
        "id": "9abbe49cc8bc8a27",
        "type": "function",
        "z": "a0dc3a901fc25ecd",
        "name": "compare variable",
        "func": "\n\nvar energy = msg.payload[0].energy\nvar configures = msg.configures;\nif (energy <= configures) {\n    let ids = msg.ids;\n   \n    if (ids.length > 0) {\n        msg.topic = \"update compare_energy set configures = \" + configures + \",deviceId ='\" + JSON.stringify(ids).toString() + \"', status = 1 ,last_update = datetime('now', 'localtime')WHERE compareId = 1 ;\"\n        msg.enagy = true\n\n    } else {\n        msg.enagy = false\n    }\n\n\n} else {\n    msg.enagy = false\n}\n\n\n\n\n\n\nreturn msg;\n\n\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 825,
        "y": 1190,
        "wires": [
            [
                "6825fdff77e7c90b"
            ]
        ]
    },
    {
        "id": "0373d9bca48dbbed",
        "type": "sqlite",
        "z": "a0dc3a901fc25ecd",
        "mydb": "438fde553d5151cb",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "sqlite3",
        "x": 260,
        "y": 1260,
        "wires": [
            [
                "f59ebe4320ff084f"
            ]
        ]
    },
    {
        "id": "6be0115381aa65f6",
        "type": "function",
        "z": "a0dc3a901fc25ecd",
        "name": "update energy",
        "func": "\nlet v = msg.payload.main_meter.voltage_pzem;\nlet i = msg.payload.main_meter.current_pzem;\nlet p = msg.payload.main_meter.power_pzem;\n let e = msg.payload.main_meter.energy_pzem;\n//let e = 0\n\nmsg.topic = `update realtime_record set current = ${i},\n             power = ${p},energy = ${e},voltage = ${v},\n             create_at = datetime('now', 'localtime') \n             where dev_id = 1`\nmsg.meter = msg.payload.main_meter;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 1715,
        "wires": [
            [
                "5456ade787bfc06c"
            ]
        ]
    },
    {
        "id": "1e05eb31fa04966b",
        "type": "sqlite",
        "z": "a0dc3a901fc25ecd",
        "mydb": "438fde553d5151cb",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "sqlite",
        "x": 1155,
        "y": 1750,
        "wires": [
            []
        ]
    },
    {
        "id": "54680fb2e2bbb2e8",
        "type": "http in",
        "z": "a0dc3a901fc25ecd",
        "name": "",
        "url": "/uplink-data",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 1715,
        "wires": [
            [
                "de7b815b2db52244"
            ]
        ]
    },
    {
        "id": "72dee777fb7e3b3b",
        "type": "function",
        "z": "a0dc3a901fc25ecd",
        "name": "get payload",
        "func": "\nfunction hexStringToByteArray(hexString) {\n    if (hexString.length % 2 !== 0) {\n        throw \"Must have an even number of hex digits to convert to bytes\";\n    }/* w w w.  jav  a2 s .  c o  m*/\n    var numBytes = hexString.length / 2;\n    var byteArray = new Uint8Array(numBytes);\n    for (var i = 0; i < numBytes; i++) {\n        byteArray[i] = parseInt(hexString.substr(i * 2, 2), 16);\n    }\n    return byteArray;\n}\n// if (msg.payload.DevEUI_uplink.Time !=null){\n//     msg.payload.time = msg.payload.DevEUI_uplink.Time;\n// }\nif (msg.payload.DevEUI_uplink){\n    msg.payload.hex = msg.payload.DevEUI_uplink.payload_hex;\n    var hex = msg.payload.hex;\n    var bytebuffer = hexStringToByteArray(hex);\n    msg.payload.buffer = bytebuffer;\n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 455,
        "y": 1715,
        "wires": [
            [
                "c11f49333dfcb4bd"
            ]
        ]
    },
    {
        "id": "c11f49333dfcb4bd",
        "type": "function",
        "z": "a0dc3a901fc25ecd",
        "name": "Decypt payload",
        "func": "\nvar buffer = msg.payload.buffer;\nvar data = {}\nvar id = [];\n\n\n\nvar v = (buffer[1] << 8) | buffer[2]\nvar i = (buffer[3] << 8) | buffer[4]\nvar p = (buffer[5] << 8) | buffer[6]\nvar e = (buffer[7] << 24) | (buffer[8] << 16) | (buffer[9] << 8) | (buffer[10])\n\nvar payload = {\n    //time: msg.payload.time,\n    main_meter: {\n        dev_id: buffer[0],\n        voltage_pzem: v / 100.0,\n        current_pzem: i / 100.0,\n        power_pzem: p / 100.0,\n        energy_pzem: e / 100.0\n    },\n    sub_meter: [{\n        dev_id: buffer[11],\n        current: buffer[12]/100,\n        state: buffer[13]\n    },\n    {\n        dev_id: buffer[14],\n        current: buffer[15] / 100,\n        state: buffer[16]\n    }, {\n        dev_id: buffer[17],\n        current: buffer[18] / 100,\n        state: buffer[19]\n    }, {\n        dev_id: buffer[20],\n        current: buffer[21] / 100,\n        state: buffer[22]\n    }, {\n\n        dev_id: buffer[23],\n        current: buffer[24] / 100,\n        state: buffer[25]\n    }, {\n        dev_id: buffer[26],\n        current: buffer[27] / 100,\n        state: buffer[28]\n    }],\n    payload_hex: buffer\n};\n\n\n\nmsg.payload = payload\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "\n",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 1715,
        "wires": [
            [
                "6be0115381aa65f6",
                "ca47f4dbe7986e94",
                "d0eefdfa8b4aa48d",
                "c40cfbdf94182e23",
                "840ecbd3577ae024",
                "3f7dd518f6cd5452",
                "06518ad5c197b19b",
                "787a13819ea5e116"
            ]
        ]
    },
    {
        "id": "ca47f4dbe7986e94",
        "type": "function",
        "z": "a0dc3a901fc25ecd",
        "name": "update 1",
        "func": "var id_s = []\nvar i_s = []\nvar str = []\n\nvar sub_buff = [] = msg.payload.sub_meter\nfor (let i = 0; i < 6; i++) {\n    id_s[i] = sub_buff[i].dev_id\n    i_s[i] = sub_buff[i].current\n    str[i] = \"update realtime_record set current =\" + i_s[i] + \" Where dev_id = \" + id_s[i] + \"; \"\n}\n\nmsg.topic = str[0]\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 795,
        "y": 1750,
        "wires": [
            [
                "1e05eb31fa04966b"
            ]
        ]
    },
    {
        "id": "d0eefdfa8b4aa48d",
        "type": "function",
        "z": "a0dc3a901fc25ecd",
        "name": "update 2",
        "func": "var id_s = []\nvar i_s = []\nvar str = []\n\nvar sub_buff = [] = msg.payload.sub_meter\nfor (let i = 0; i < 6; i++) {\n    id_s[i] = sub_buff[i].dev_id\n    i_s[i] = sub_buff[i].current\n    str[i] = \"update realtime_record set current =\" + i_s[i] + \" Where dev_id = \" + id_s[i] + \"; \"\n}\n\nmsg.topic = str[1]\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 795,
        "y": 1785,
        "wires": [
            [
                "1e05eb31fa04966b"
            ]
        ]
    },
    {
        "id": "c40cfbdf94182e23",
        "type": "function",
        "z": "a0dc3a901fc25ecd",
        "name": "update 3",
        "func": "var id_s = []\nvar i_s = []\nvar str = []\n\nvar sub_buff = [] = msg.payload.sub_meter\nfor (let i = 0; i < 6; i++) {\n    id_s[i] = sub_buff[i].dev_id\n    i_s[i] = sub_buff[i].current\n    str[i] = \"update realtime_record set current =\" + i_s[i] + \" Where dev_id = \" + id_s[i] + \"; \"\n}\n\nmsg.topic = str[2]\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 795,
        "y": 1820,
        "wires": [
            [
                "1e05eb31fa04966b"
            ]
        ]
    },
    {
        "id": "840ecbd3577ae024",
        "type": "function",
        "z": "a0dc3a901fc25ecd",
        "name": "update 4",
        "func": "var id_s = []\nvar i_s = []\nvar str = []\n\nvar sub_buff = [] = msg.payload.sub_meter\nfor (let i = 0; i < 6; i++) {\n    id_s[i] = sub_buff[i].dev_id\n    i_s[i] = sub_buff[i].current\n    str[i] = \"update realtime_record set current =\" + i_s[i] + \" Where dev_id = \" + id_s[i] + \"; \"\n}\n\nmsg.topic = str[3]\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 795,
        "y": 1855,
        "wires": [
            [
                "1e05eb31fa04966b"
            ]
        ]
    },
    {
        "id": "3f7dd518f6cd5452",
        "type": "function",
        "z": "a0dc3a901fc25ecd",
        "name": "update 5",
        "func": "var id_s = []\nvar i_s = []\nvar str = []\n\nvar sub_buff = [] = msg.payload.sub_meter\nfor (let i = 0; i < 6; i++) {\n    id_s[i] = sub_buff[i].dev_id\n    i_s[i] = sub_buff[i].current\n    str[i] = \"update realtime_record set current =\" + i_s[i] + \" Where dev_id = \" + id_s[i] + \"; \"\n}\n\nmsg.topic = str[4]\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 795,
        "y": 1890,
        "wires": [
            [
                "1e05eb31fa04966b"
            ]
        ]
    },
    {
        "id": "06518ad5c197b19b",
        "type": "function",
        "z": "a0dc3a901fc25ecd",
        "name": "update 6",
        "func": "var id_s = []\nvar i_s = []\nvar str = []\n\nvar sub_buff = [] = msg.payload.sub_meter\nfor (let i = 0; i < 6; i++) {\n    id_s[i] = sub_buff[i].dev_id\n    i_s[i] = sub_buff[i].current\n    str[i] = \"update realtime_record set current =\" + i_s[i] + \" Where dev_id = \" + id_s[i] + \"; \"\n}\n\nmsg.topic = str[5]\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 795,
        "y": 1925,
        "wires": [
            [
                "1e05eb31fa04966b"
            ]
        ]
    },
    {
        "id": "3b3170c2c9afdfe3",
        "type": "inject",
        "z": "a0dc3a901fc25ecd",
        "name": "Tick every day",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "55 23 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SELECT energy_per_day FROM record_per_day where dev_id = 1;",
        "x": 185,
        "y": 2065,
        "wires": [
            [
                "195dccfd127adcaf"
            ]
        ]
    },
    {
        "id": "195dccfd127adcaf",
        "type": "sqlite",
        "z": "a0dc3a901fc25ecd",
        "mydb": "438fde553d5151cb",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "sqlite3",
        "x": 335,
        "y": 2065,
        "wires": [
            [
                "2bc728694eae65a1"
            ]
        ]
    },
    {
        "id": "2bc728694eae65a1",
        "type": "function",
        "z": "a0dc3a901fc25ecd",
        "name": "get record_per_month",
        "func": "var e = msg.payload[0].energy_per_day\n\nmsg.topic = \"INSERT INTO record_per_month (power_total_month,dev_id,create_at) VALUES ('\" + e + \"','\" + 1 + \"',datetime('now', 'localtime'));\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 2065,
        "wires": [
            [
                "c8a4c84c7501f958"
            ]
        ]
    },
    {
        "id": "c8a4c84c7501f958",
        "type": "sqlite",
        "z": "a0dc3a901fc25ecd",
        "mydb": "438fde553d5151cb",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "sqlite3",
        "x": 715,
        "y": 2065,
        "wires": [
            []
        ]
    },
    {
        "id": "b43532b18ca65f71",
        "type": "sqlite",
        "z": "a0dc3a901fc25ecd",
        "mydb": "438fde553d5151cb",
        "sqlquery": "msg.topic",
        "sql": "SELECT * FROM realtime_record;",
        "name": "sqlite3",
        "x": 365,
        "y": 1855,
        "wires": [
            [
                "d941912e4465f24a"
            ]
        ]
    },
    {
        "id": "d941912e4465f24a",
        "type": "json",
        "z": "a0dc3a901fc25ecd",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 365,
        "y": 1890,
        "wires": [
            [
                "ac4202e5c83a61d8"
            ]
        ]
    },
    {
        "id": "ac4202e5c83a61d8",
        "type": "websocket out",
        "z": "a0dc3a901fc25ecd",
        "name": "",
        "server": "5e2b69f1fee6d251",
        "client": "",
        "x": 395,
        "y": 1925,
        "wires": []
    },
    {
        "id": "55d653bd846b037a",
        "type": "websocket in",
        "z": "a0dc3a901fc25ecd",
        "name": "",
        "server": "5e2b69f1fee6d251",
        "client": "",
        "x": 395,
        "y": 1785,
        "wires": [
            [
                "b35f5dde91cf2b0a"
            ]
        ]
    },
    {
        "id": "b35f5dde91cf2b0a",
        "type": "function",
        "z": "a0dc3a901fc25ecd",
        "name": "get data",
        "func": "\nmsg.topic = \"SELECT * FROM realtime_record INNER JOIN record_per_day on realtime_record.dev_id = record_per_day.dev_id;\";\nmsg.payload = null;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "\n",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 1820,
        "wires": [
            [
                "b43532b18ca65f71"
            ]
        ]
    },
    {
        "id": "9473c8fd014c627f",
        "type": "inject",
        "z": "a0dc3a901fc25ecd",
        "name": "Tick every secs",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "30",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 125,
        "y": 1820,
        "wires": [
            [
                "b35f5dde91cf2b0a"
            ]
        ]
    },
    {
        "id": "6825fdff77e7c90b",
        "type": "switch",
        "z": "a0dc3a901fc25ecd",
        "name": "",
        "property": "enagy",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 85,
        "y": 1260,
        "wires": [
            [
                "0373d9bca48dbbed"
            ],
            [
                "56c219f1802af006"
            ]
        ]
    },
    {
        "id": "56c219f1802af006",
        "type": "template",
        "z": "a0dc3a901fc25ecd",
        "name": "failed",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n  \"status\": \"0\",\n  \"message\": \"กรุณากำหนดค่าที่มากกว่าหน่วยไฟปัจจุบัน\"\n}",
        "output": "json",
        "x": 85,
        "y": 1295,
        "wires": [
            [
                "cccd0225248c20ce"
            ]
        ]
    },
    {
        "id": "cccd0225248c20ce",
        "type": "http response",
        "z": "a0dc3a901fc25ecd",
        "name": "",
        "statusCode": "500",
        "headers": {},
        "x": 95,
        "y": 1330,
        "wires": []
    },
    {
        "id": "f59ebe4320ff084f",
        "type": "function",
        "z": "a0dc3a901fc25ecd",
        "name": "get en rt",
        "func": "msg.topic = \"select rt.energy ,ce.* from compare_energy ce,realtime_record rt where rt.dev_id = 1;\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 395,
        "y": 1260,
        "wires": [
            [
                "0f5d0ca521f4b4e8"
            ]
        ]
    },
    {
        "id": "0f5d0ca521f4b4e8",
        "type": "sqlite",
        "z": "a0dc3a901fc25ecd",
        "mydb": "438fde553d5151cb",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "sqlite3",
        "x": 610,
        "y": 1260,
        "wires": [
            [
                "0e7973c1197fcb98"
            ]
        ]
    },
    {
        "id": "0e7973c1197fcb98",
        "type": "function",
        "z": "a0dc3a901fc25ecd",
        "name": "update device",
        "func": "\nlet energy = msg.payload[0].energy\nlet configures = msg.payload[0].configures\nlet deviceId = msg.payload[0].deviceId\nlet status = msg.payload[0].status\nlet ids = JSON.parse(deviceId);\nlet where = \"\";\nif (status && energy >= configures){\n    ids.forEach((id, index) => {\n            where = index === 0 ? where + \" deviceId =\" + id : where + \" or deviceId =\" + id\n        });\n        msg.topic = \"update device set deviceStatus = \" + 0 + \" where\" + where + \";\"\n        msg.update = true;\n}else{\n    msg.update = false;\n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 1295,
        "wires": [
            [
                "8f6b1ec5b1f3fee0"
            ]
        ]
    },
    {
        "id": "a4254bd401ba9bbb",
        "type": "sqlite",
        "z": "a0dc3a901fc25ecd",
        "mydb": "438fde553d5151cb",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "sqlite3",
        "x": 610,
        "y": 1295,
        "wires": [
            [
                "8a922f6c7cfd6207"
            ]
        ]
    },
    {
        "id": "8a922f6c7cfd6207",
        "type": "function",
        "z": "a0dc3a901fc25ecd",
        "name": "",
        "func": "var configures = msg.configures;\nmsg.topic = \"update compare_energy set deviceId = null,status = 0,configures = 0,last_update = datetime('now', 'localtime')WHERE compareId = 1;\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 1330,
        "wires": [
            [
                "5d1e1df19906824e"
            ]
        ]
    },
    {
        "id": "5d1e1df19906824e",
        "type": "sqlite",
        "z": "a0dc3a901fc25ecd",
        "mydb": "438fde553d5151cb",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "sqlite3",
        "x": 615,
        "y": 1365,
        "wires": [
            [
                "243a16b48aeb3c57"
            ]
        ]
    },
    {
        "id": "8f6b1ec5b1f3fee0",
        "type": "switch",
        "z": "a0dc3a901fc25ecd",
        "name": "",
        "property": "update",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 440,
        "y": 1295,
        "wires": [
            [
                "a4254bd401ba9bbb"
            ],
            [
                "aeda1e05470ec23a"
            ]
        ]
    },
    {
        "id": "255a21ae675d6ddd",
        "type": "http in",
        "z": "a0dc3a901fc25ecd",
        "name": "compare_energy",
        "url": "/compare_energy",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 210,
        "wires": [
            [
                "9fca2f5a485126da"
            ]
        ]
    },
    {
        "id": "807d116692bd2a5f",
        "type": "function",
        "z": "a0dc3a901fc25ecd",
        "name": "compare_energy",
        "func": "\nmsg.topic = \"SELECT * FROM compare_energy; \"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "\n",
        "finalize": "",
        "libs": [],
        "x": 475,
        "y": 210,
        "wires": [
            [
                "f7213a6a0f8ea536"
            ]
        ]
    },
    {
        "id": "f7213a6a0f8ea536",
        "type": "sqlite",
        "z": "a0dc3a901fc25ecd",
        "mydb": "438fde553d5151cb",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "sqlite3",
        "x": 650,
        "y": 210,
        "wires": [
            [
                "2a21a5ee60bffa44"
            ]
        ]
    },
    {
        "id": "2a21a5ee60bffa44",
        "type": "json",
        "z": "a0dc3a901fc25ecd",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": true,
        "x": 790,
        "y": 210,
        "wires": [
            [
                "dc6371c949caae67"
            ]
        ]
    },
    {
        "id": "dc6371c949caae67",
        "type": "http response",
        "z": "a0dc3a901fc25ecd",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 940,
        "y": 210,
        "wires": []
    },
    {
        "id": "9fca2f5a485126da",
        "type": "jwt verify",
        "z": "a0dc3a901fc25ecd",
        "name": "",
        "alg": [
            "HS512"
        ],
        "jwkurl": "lora-dashboard",
        "secret": "loraecp321.",
        "key": "",
        "signvar": "bearer",
        "storetoken": "token",
        "x": 285,
        "y": 210,
        "wires": [
            [
                "807d116692bd2a5f"
            ]
        ]
    },
    {
        "id": "243a16b48aeb3c57",
        "type": "template",
        "z": "a0dc3a901fc25ecd",
        "name": "update",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n  \"status\": \"1\",\n  \"message\": \"ปิดใช้งานอุปกรณ์สำเร็จ\"\n}",
        "output": "json",
        "x": 610,
        "y": 1400,
        "wires": [
            [
                "c88d9248a315753f",
                "ac8c54395619893e"
            ]
        ]
    },
    {
        "id": "aeda1e05470ec23a",
        "type": "template",
        "z": "a0dc3a901fc25ecd",
        "name": "no update",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n  \"status\": \"1\",\n  \"message\": \"รอการทำงาน\"\n}",
        "output": "json",
        "x": 450,
        "y": 1330,
        "wires": [
            [
                "c88d9248a315753f"
            ]
        ]
    },
    {
        "id": "c88d9248a315753f",
        "type": "http response",
        "z": "a0dc3a901fc25ecd",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 620,
        "y": 1435,
        "wires": []
    },
    {
        "id": "d0760323ec33456a",
        "type": "function",
        "z": "a0dc3a901fc25ecd",
        "name": "update 1",
        "func": "\n\nvar id_s = []\nvar state_s = []\nvar str = []\nvar sub_buff = [] = msg.payload.sub_meter\nfor (let i = 0; i < 6; i++) {\n    id_s[i] = sub_buff[i].dev_id\n    \n    state_s[i] = sub_buff[i].state\n    str[i] = \"update device set DeviceStatus = \" + state_s[i] + \" where deviceId = \" + id_s[i] + \"; \"\n}\n\n\nmsg.topic = str[0]\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 965,
        "y": 1750,
        "wires": [
            [
                "1e05eb31fa04966b"
            ]
        ]
    },
    {
        "id": "576ca1b50c613d62",
        "type": "function",
        "z": "a0dc3a901fc25ecd",
        "name": "update 2",
        "func": "var id_s = []\nvar state_s = []\nvar str = []\nvar sub_buff = [] = msg.payload.sub_meter\nfor (let i = 0; i < 6; i++) {\n    id_s[i] = sub_buff[i].dev_id\n\n    state_s[i] = sub_buff[i].state\n    str[i] = \"update device set DeviceStatus = \" + state_s[i] + \" where deviceId = \" + id_s[i] + \"; \"\n}\n\n\n\nmsg.topic = str[1]\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 965,
        "y": 1785,
        "wires": [
            [
                "1e05eb31fa04966b"
            ]
        ]
    },
    {
        "id": "90725d545f1f8b1f",
        "type": "function",
        "z": "a0dc3a901fc25ecd",
        "name": "update 3",
        "func": "var id_s = []\nvar state_s = []\nvar str = []\nvar sub_buff = [] = msg.payload.sub_meter\nfor (let i = 0; i < 6; i++) {\n    id_s[i] = sub_buff[i].dev_id\n\n    state_s[i] = sub_buff[i].state\n    str[i] = \"update device set DeviceStatus = \" + state_s[i] + \" where deviceId = \" + id_s[i] + \"; \"\n\n}\n\n\n\nmsg.topic = str[2]\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 965,
        "y": 1820,
        "wires": [
            [
                "1e05eb31fa04966b"
            ]
        ]
    },
    {
        "id": "9049cbecdd55aca3",
        "type": "function",
        "z": "a0dc3a901fc25ecd",
        "name": "update 4",
        "func": "var id_s = []\nvar state_s = []\nvar str = []\nvar sub_buff = [] = msg.payload.sub_meter\nfor (let i = 0; i < 6; i++) {\n    id_s[i] = sub_buff[i].dev_id\n\n    state_s[i] = sub_buff[i].state\n    str[i] = \"update device set DeviceStatus = \" + state_s[i] + \" where deviceId = \" + id_s[i] + \"; \"\n\n}\n\n\nmsg.topic = str[3]\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 965,
        "y": 1855,
        "wires": [
            [
                "1e05eb31fa04966b"
            ]
        ]
    },
    {
        "id": "17c74682ee93de03",
        "type": "function",
        "z": "a0dc3a901fc25ecd",
        "name": "update 5",
        "func": "var id_s = []\nvar state_s = []\nvar str = []\nvar sub_buff = [] = msg.payload.sub_meter\nfor (let i = 0; i < 6; i++) {\n    id_s[i] = sub_buff[i].dev_id\n\n    state_s[i] = sub_buff[i].state\n    str[i] = \"update device set DeviceStatus = \" + state_s[i] + \" where deviceId = \" + id_s[i] + \"; \"\n\n}\n\n\nmsg.topic = str[4]\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 965,
        "y": 1890,
        "wires": [
            [
                "1e05eb31fa04966b"
            ]
        ]
    },
    {
        "id": "487989188a4fa8f4",
        "type": "function",
        "z": "a0dc3a901fc25ecd",
        "name": "update 6",
        "func": "var id_s = []\nvar state_s = []\nvar str = []\nvar sub_buff = [] = msg.payload.sub_meter\nfor (let i = 0; i < 6; i++) {\n    id_s[i] = sub_buff[i].dev_id\n\n    state_s[i] = sub_buff[i].state\n    str[i] = \"update device set DeviceStatus = \" + state_s[i] + \" where deviceId = \" + id_s[i] + \"; \"\n\n}\n\nmsg.topic = str[5]\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 965,
        "y": 1925,
        "wires": [
            [
                "1e05eb31fa04966b"
            ]
        ]
    },
    {
        "id": "03da6f59d2db2544",
        "type": "function",
        "z": "a0dc3a901fc25ecd",
        "name": "get en rt",
        "func": "msg.payload = null\nmsg.topic = \"select rt.energy ,ce.* from compare_energy ce,realtime_record rt where rt.dev_id = 1 and ce.compareId = 1;\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 305,
        "y": 1575,
        "wires": [
            [
                "935c3cff27a88d68"
            ]
        ]
    },
    {
        "id": "935c3cff27a88d68",
        "type": "sqlite",
        "z": "a0dc3a901fc25ecd",
        "mydb": "438fde553d5151cb",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "sqlite3",
        "x": 450,
        "y": 1575,
        "wires": [
            [
                "b05cf9951d26957f"
            ]
        ]
    },
    {
        "id": "b05cf9951d26957f",
        "type": "function",
        "z": "a0dc3a901fc25ecd",
        "name": "update device",
        "func": "\nlet energy = msg.payload[0].energy\nlet configures = msg.payload[0].configures\nlet deviceId = msg.payload[0].deviceId\nlet status = msg.payload[0].status\nlet ids = deviceId == null ? null : JSON.parse(deviceId)\n\nlet where = \"\";\nif (status && energy >= configures && ids != null) {\n    ids.forEach((id, index) => {\n        where = index === 0 ? where + \" deviceId =\" + id : where + \" or deviceId =\" + id\n    });\n    msg.topic = \"update device set deviceStatus = \" + 0 + \" where\" + where + \";\"\n    msg.update = true;\n} else {\n    msg.update = false;\n}\nmsg.configures = configures\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 1610,
        "wires": [
            [
                "288ce2398c3b2c82"
            ]
        ]
    },
    {
        "id": "e2d39f39bb467533",
        "type": "function",
        "z": "a0dc3a901fc25ecd",
        "name": "update state config",
        "func": "var configures = msg.configures;\nmsg.topic = \"update compare_energy set deviceId = null, status = 0,configures = 0,last_update = datetime('now', 'localtime')WHERE compareId = 1;\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 1610,
        "wires": [
            [
                "9bdfc55d1fbc8d5d"
            ]
        ]
    },
    {
        "id": "9bdfc55d1fbc8d5d",
        "type": "sqlite",
        "z": "a0dc3a901fc25ecd",
        "mydb": "438fde553d5151cb",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "sqlite3",
        "x": 755,
        "y": 1575,
        "wires": [
            [
                "ec8ddf5c11410793"
            ]
        ]
    },
    {
        "id": "288ce2398c3b2c82",
        "type": "switch",
        "z": "a0dc3a901fc25ecd",
        "name": "",
        "property": "update",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 575,
        "y": 1610,
        "wires": [
            [
                "e2d39f39bb467533",
                "e16044f9ef364566",
                "9bdfc55d1fbc8d5d"
            ],
            [
                "7041ddf06454c223"
            ]
        ]
    },
    {
        "id": "ec8ddf5c11410793",
        "type": "template",
        "z": "a0dc3a901fc25ecd",
        "name": "update",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n  \"status\": \"1\",\n  \"message\": \"ปิดใช้งานอุปกรณ์สำเร็จ\"\n}",
        "output": "json",
        "x": 755,
        "y": 1540,
        "wires": [
            [
                "c5d7c3a4e8b4a221"
            ]
        ]
    },
    {
        "id": "7041ddf06454c223",
        "type": "template",
        "z": "a0dc3a901fc25ecd",
        "name": "no update",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n  \"status\": \"1\",\n  \"message\": \"รอการทำงาน\"\n}",
        "output": "json",
        "x": 585,
        "y": 1645,
        "wires": [
            []
        ]
    },
    {
        "id": "18e740b1540ce26a",
        "type": "delay",
        "z": "a0dc3a901fc25ecd",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 95,
        "y": 1575,
        "wires": [
            [
                "03da6f59d2db2544"
            ]
        ]
    },
    {
        "id": "c5d7c3a4e8b4a221",
        "type": "link out",
        "z": "a0dc3a901fc25ecd",
        "name": "send downlink",
        "mode": "link",
        "links": [
            "ef348bd5adfd7522"
        ],
        "x": 930,
        "y": 1435,
        "wires": []
    },
    {
        "id": "9332bcc47dd4ec97",
        "type": "link out",
        "z": "a0dc3a901fc25ecd",
        "name": "send downlink",
        "mode": "link",
        "links": [
            "ef348bd5adfd7522"
        ],
        "x": 1000,
        "y": 770,
        "wires": []
    },
    {
        "id": "ac8c54395619893e",
        "type": "link out",
        "z": "a0dc3a901fc25ecd",
        "name": "send downlink",
        "mode": "link",
        "links": [
            "ef348bd5adfd7522"
        ],
        "x": 720,
        "y": 1400,
        "wires": []
    },
    {
        "id": "bc398f3dd2f51f03",
        "type": "comment",
        "z": "a0dc3a901fc25ecd",
        "name": "take realtime record to per month",
        "info": "เอาค่าการใช้พลังงานจาก ตาราง realtime ไปเก็บไว้ที่\nrecord_per_month ทุกๆ เวลาเที่ยงคืนของทุกวัน",
        "x": 235,
        "y": 2030,
        "wires": []
    },
    {
        "id": "f5b6fa2942b93a04",
        "type": "comment",
        "z": "a0dc3a901fc25ecd",
        "name": "send data realtime to dashboard",
        "info": "",
        "x": 235,
        "y": 1960,
        "wires": []
    },
    {
        "id": "8ebb4b40dd312f40",
        "type": "comment",
        "z": "a0dc3a901fc25ecd",
        "name": "receive uplink data from cat telecom geteway",
        "info": "",
        "x": 285,
        "y": 1680,
        "wires": []
    },
    {
        "id": "4bd7963e4c545895",
        "type": "comment",
        "z": "a0dc3a901fc25ecd",
        "name": "update device status with energy consumtion",
        "info": "",
        "x": 250,
        "y": 1505,
        "wires": []
    },
    {
        "id": "e16044f9ef364566",
        "type": "function",
        "z": "a0dc3a901fc25ecd",
        "name": "update last compare",
        "func": "\n// energy: 38.32\n// configures: 38.33\nvar energy = msg.payload[0].energy\nvar configures = msg.payload[0].configures\nvar deviceId = msg.payload[0].deviceId\nvar status = msg.payload[0].status\nmsg.enagy = false\nif (status && energy >= configures && configures!=0) {\n\n    msg.topic = `update compare_energy set configures = ${configures}, deviceId = ${JSON.stringify(deviceId).toString()}, status = 0 ,last_update = datetime('now', 'localtime') WHERE compareId = 2;`\n    msg.enagy = true\n}\n\nreturn msg;\n\n\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 1645,
        "wires": [
            [
                "9bdfc55d1fbc8d5d"
            ]
        ]
    },
    {
        "id": "fad368572f1e4b50",
        "type": "http in",
        "z": "a0dc3a901fc25ecd",
        "name": "get-device-last-update",
        "url": "/get-device-last",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 135,
        "y": 1085,
        "wires": [
            [
                "d27ac2893805b013"
            ]
        ]
    },
    {
        "id": "d27ac2893805b013",
        "type": "jwt verify",
        "z": "a0dc3a901fc25ecd",
        "name": "verify",
        "alg": [
            "HS512"
        ],
        "jwkurl": "lora-dashboard",
        "secret": "loraecp321.",
        "key": "",
        "signvar": "bearer",
        "storetoken": "token",
        "x": 300,
        "y": 1085,
        "wires": [
            [
                "cd0e0abf7e5ae54c"
            ]
        ]
    },
    {
        "id": "cd0e0abf7e5ae54c",
        "type": "function",
        "z": "a0dc3a901fc25ecd",
        "name": "get-device-last-update",
        "func": "let ids = msg.payload\nlet str_ids = \"(\"\nids.forEach((e,i)=> {\n    if(i==0){\n        str_ids = str_ids+e\n    }else{\n        str_ids =str_ids+\",\"+e\n    }\n});\nstr_ids = str_ids + \")\"\nmsg.topic = `select d.deviceName from device d where d.deviceId IN ${str_ids};`\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 485,
        "y": 1085,
        "wires": [
            [
                "dfdd8cce58dd0190"
            ]
        ]
    },
    {
        "id": "dfdd8cce58dd0190",
        "type": "sqlite",
        "z": "a0dc3a901fc25ecd",
        "mydb": "438fde553d5151cb",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "sqlite3",
        "x": 715,
        "y": 1085,
        "wires": [
            [
                "7fe6850ea1deb048"
            ]
        ]
    },
    {
        "id": "7fe6850ea1deb048",
        "type": "http response",
        "z": "a0dc3a901fc25ecd",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 900,
        "y": 1085,
        "wires": []
    },
    {
        "id": "45215781fcda81ef",
        "type": "function",
        "z": "a0dc3a901fc25ecd",
        "name": "",
        "func": "\nconst d = new Date();\nvar date = d.getDate()\n\nif(date == 1 ){\n    msg.payload.decide = false\n    //เก็บค่าการใช้ไฟลงฐานข้อมูลได้เลย\n}else{\n    msg.payload.decide = true\n    //นำค่า energy ไปลบ ค่าของวันที่ผ่านมาแล้วบันทึกลงฐานข้อมูล\n}\n \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1425,
        "y": 1400,
        "wires": [
            []
        ]
    },
    {
        "id": "f15cdde6e32340c9",
        "type": "function",
        "z": "a0dc3a901fc25ecd",
        "name": "inject energy",
        "func": "\nlet v = msg.meter.voltage_pzem;\nlet i = msg.meter.current_pzem;\nlet p = msg.meter.power_pzem;\nlet e = msg.meter.energy_pzem; ///ค่า เรียลไทม์ สะสม\n//let e = 47\nlet enr = msg.payload[0].total ? msg.payload[0].total:0 ; // ค่าจากฐานข้อมูล ตารางเปอร์เดือน\n\n\nlet energy = msg.decide ? (e - enr).toFixed(2) : e\nenergy = Math.abs(energy)\n\nmsg.topic = `update record_per_day set energy_per_day = ${energy},\n    create_at = datetime('now', 'localtime') \n     where dev_id = 1;`\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1365,
        "y": 1715,
        "wires": [
            [
                "1e05eb31fa04966b"
            ]
        ]
    },
    {
        "id": "5456ade787bfc06c",
        "type": "sqlite",
        "z": "a0dc3a901fc25ecd",
        "mydb": "438fde553d5151cb",
        "sqlquery": "msg.topic",
        "sql": "SELECT power_total_month FROM  record_per_month ORDER BY id_record_per_day DESC LIMIT 1;",
        "name": "sqlite2",
        "x": 1155,
        "y": 1715,
        "wires": [
            [
                "69545d80898b13fc"
            ]
        ]
    },
    {
        "id": "f9c8bd44d399466e",
        "type": "file",
        "z": "a0dc3a901fc25ecd",
        "name": "",
        "filename": "/home/pi/mainmeter.txt",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "setbymsg",
        "x": 1475,
        "y": 1470,
        "wires": [
            []
        ]
    },
    {
        "id": "d9d50442cc06c870",
        "type": "file in",
        "z": "a0dc3a901fc25ecd",
        "name": "",
        "filename": "/home/pi/mainmeter.txt",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "utf8",
        "allProps": false,
        "x": 1475,
        "y": 1435,
        "wires": [
            []
        ]
    },
    {
        "id": "bf1cd92732be42ba",
        "type": "json",
        "z": "a0dc3a901fc25ecd",
        "name": "",
        "property": "meter",
        "action": "obj",
        "pretty": false,
        "x": 1420,
        "y": 1330,
        "wires": [
            []
        ]
    },
    {
        "id": "69545d80898b13fc",
        "type": "function",
        "z": "a0dc3a901fc25ecd",
        "name": " energy",
        "func": "// msg.topic = `\n// SELECT power_total_month FROM record_per_month ORDER BY id_record_per_day DESC LIMIT 1;\n// `\nlet like =new Date().toISOString().split('T')[0].substring(0, 7);\nmsg.topic = `\nSELECT sum(power_total_month) total FROM record_per_month where create_at like '${like}%';\n`\nconst d = new Date();\nvar date = d.getDate()\n\nif (date == 1) {\n    msg.decide = false\n\n    //เก็บค่าการใช้ไฟลงฐานข้อมูลได้เลย\n} else {\n    msg.decide = true\n    //นำค่า energy ไปลบ ค่าของวันที่ผ่านมาแล้วบันทึกลงฐานข้อมูล\n}\n// msg.sss = new Date().toISOString().split('T')[0].substring(0, 7);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 1645,
        "wires": [
            [
                "63c3a6ed9bd71f8d"
            ]
        ]
    },
    {
        "id": "63c3a6ed9bd71f8d",
        "type": "sqlite",
        "z": "a0dc3a901fc25ecd",
        "mydb": "438fde553d5151cb",
        "sqlquery": "msg.topic",
        "sql": "SELECT power_total_month FROM  record_per_month ORDER BY id_record_per_day DESC LIMIT 1;",
        "name": "sqlite2",
        "x": 1140,
        "y": 1575,
        "wires": [
            [
                "f15cdde6e32340c9"
            ]
        ]
    },
    {
        "id": "b28486380b3b1f62",
        "type": "inject",
        "z": "a0dc3a901fc25ecd",
        "name": "Tick every day",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "00 00 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 185,
        "y": 2100,
        "wires": [
            [
                "3d654c797615b519"
            ]
        ]
    },
    {
        "id": "3d654c797615b519",
        "type": "function",
        "z": "a0dc3a901fc25ecd",
        "name": "check day",
        "func": "let day = new Date().getDate()\n\nmsg.setZero = (day==1)\n//msg.setZero = 1\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 2100,
        "wires": [
            [
                "8042da7a970c9b34"
            ]
        ]
    },
    {
        "id": "8042da7a970c9b34",
        "type": "link out",
        "z": "a0dc3a901fc25ecd",
        "name": "send downlink",
        "mode": "link",
        "links": [
            "ef348bd5adfd7522"
        ],
        "x": 475,
        "y": 2100,
        "wires": []
    },
    {
        "id": "de7b815b2db52244",
        "type": "switch",
        "z": "a0dc3a901fc25ecd",
        "name": "",
        "property": "payload.DevEUI_uplink",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 295,
        "y": 1715,
        "wires": [
            [
                "72dee777fb7e3b3b",
                "18e740b1540ce26a",
                "b35f5dde91cf2b0a"
            ]
        ]
    },
    {
        "id": "b297c17ecfa09d4a",
        "type": "inject",
        "z": "a0dc3a901fc25ecd",
        "d": true,
        "name": "record_per_day set energy_per_day = 0",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "update record_per_day set energy_per_day = 0 where dev_id = 1;",
        "x": 200,
        "y": 2380,
        "wires": [
            [
                "16e81db7be3f7370"
            ]
        ]
    },
    {
        "id": "7e074f59d1fe4715",
        "type": "comment",
        "z": "a0dc3a901fc25ecd",
        "name": "reset database",
        "info": "",
        "x": 270,
        "y": 2345,
        "wires": []
    },
    {
        "id": "16e81db7be3f7370",
        "type": "sqlite",
        "z": "a0dc3a901fc25ecd",
        "mydb": "438fde553d5151cb",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "sqlite3",
        "x": 475,
        "y": 2380,
        "wires": [
            [
                "aaf37e203377e38f"
            ]
        ]
    },
    {
        "id": "b0107e042f5470d6",
        "type": "inject",
        "z": "a0dc3a901fc25ecd",
        "d": true,
        "name": "delete record_per_month ;",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "delete from record_per_month where dev_id = 1;",
        "x": 160,
        "y": 2415,
        "wires": [
            [
                "16e81db7be3f7370"
            ]
        ]
    },
    {
        "id": "2297c25915ac7142",
        "type": "inject",
        "z": "a0dc3a901fc25ecd",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 955,
        "y": 1505,
        "wires": [
            []
        ]
    },
    {
        "id": "787a13819ea5e116",
        "type": "debug",
        "z": "a0dc3a901fc25ecd",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 1680,
        "wires": []
    },
    {
        "id": "45b0dba22a57f629",
        "type": "inject",
        "z": "a0dc3a901fc25ecd",
        "d": true,
        "name": "set energy 0 record per month",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "update record_per_month set power_total_month = 0 where id_record_per_day = 55;",
        "x": 170,
        "y": 2450,
        "wires": [
            [
                "16e81db7be3f7370"
            ]
        ]
    },
    {
        "id": "aaf37e203377e38f",
        "type": "debug",
        "z": "a0dc3a901fc25ecd",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 605,
        "y": 2380,
        "wires": []
    },
    {
        "id": "96df71afa2dff79d",
        "type": "inject",
        "z": "a0dc3a901fc25ecd",
        "d": true,
        "name": "select record per month",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "select * from record_per_month ;",
        "x": 135,
        "y": 2485,
        "wires": [
            [
                "16e81db7be3f7370"
            ]
        ]
    },
    {
        "id": "e619bf517a34dadf",
        "type": "catch",
        "z": "a0dc3a901fc25ecd",
        "name": "",
        "scope": [
            "15af7eba5548171f",
            "80b8dfd896aa9e81"
        ],
        "uncaught": false,
        "x": 1240,
        "y": 385,
        "wires": [
            [
                "1da226cbbf3ea373",
                "2249ad9e2b3f4afa"
            ]
        ]
    },
    {
        "id": "1da226cbbf3ea373",
        "type": "debug",
        "z": "a0dc3a901fc25ecd",
        "name": "catch error",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1420,
        "y": 385,
        "wires": []
    },
    {
        "id": "2249ad9e2b3f4afa",
        "type": "function",
        "z": "a0dc3a901fc25ecd",
        "name": "response client",
        "func": "var headers = {}\nvar data = {}\nvar newMsg = {}\nheaders['Content-Type'] = \"application/json\"\nheaders['res'] = msg.res\nheaders['req'] = msg.req\ndata['payload'] = msg.payload\nnewMsg['statusCode'] = msg.statusCode\n\nnode.send(msg);\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1375,
        "y": 455,
        "wires": [
            [
                "03ac8cc75e1c72d9",
                "adbe4815ef4d2704"
            ]
        ]
    },
    {
        "id": "03ac8cc75e1c72d9",
        "type": "debug",
        "z": "a0dc3a901fc25ecd",
        "name": "return to client",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1585,
        "y": 455,
        "wires": []
    },
    {
        "id": "adbe4815ef4d2704",
        "type": "http response",
        "z": "a0dc3a901fc25ecd",
        "name": "statusCode",
        "statusCode": "",
        "headers": {},
        "x": 1575,
        "y": 490,
        "wires": []
    },
    {
        "id": "881f7c42baab3b41",
        "type": "debug",
        "z": "a0dc3a901fc25ecd",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 385,
        "wires": []
    },
    {
        "id": "ef348bd5adfd7522",
        "type": "link in",
        "z": "3cabf436210a7c6a",
        "name": "cat telecom",
        "links": [
            "9332bcc47dd4ec97",
            "ac8c54395619893e",
            "c5d7c3a4e8b4a221",
            "7de13385a0bcfab4",
            "8042da7a970c9b34"
        ],
        "x": 155,
        "y": 210,
        "wires": [
            [
                "4103e3603cda390d"
            ]
        ]
    },
    {
        "id": "9e676d6c542635d6",
        "type": "http request",
        "z": "3cabf436210a7c6a",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://loraiot.cattelecom.com/portal/iotapi/auth/token",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 450,
        "y": 210,
        "wires": [
            [
                "0a7c611b9a9e0649"
            ]
        ]
    },
    {
        "id": "0a7c611b9a9e0649",
        "type": "file",
        "z": "3cabf436210a7c6a",
        "name": "",
        "filename": "/home/pi/token.txt",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "setbymsg",
        "x": 675,
        "y": 210,
        "wires": [
            [
                "4e681f105a9738e1"
            ]
        ]
    },
    {
        "id": "4103e3603cda390d",
        "type": "function",
        "z": "3cabf436210a7c6a",
        "name": "req_token",
        "func": "let setzero = msg.setZero\n\n \n\nmsg.headers = {};\nmsg.headers['Content-Type'] = 'application/json';\nmsg.headers['Accept'] = 'application/json';\nmsg.payload = {};\nmsg.payload['username'] = 'pisut.pa'\nmsg.payload['password'] = 'juy14123'\nmsg.setZero = setzero\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 210,
        "wires": [
            [
                "9e676d6c542635d6"
            ]
        ]
    },
    {
        "id": "d00c213b743be8df",
        "type": "http request",
        "z": "3cabf436210a7c6a",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://loraiot.cattelecom.com/portal/iotapi/core/devices/70B3D57ED0045D0D/downlinkMessages",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 700,
        "y": 315,
        "wires": [
            [
                "babc4f4842e13260"
            ]
        ]
    },
    {
        "id": "fdbd511870b195e7",
        "type": "function",
        "z": "3cabf436210a7c6a",
        "name": "send downlink",
        "func": "var token = msg.access_token;\nvar payloadHex = msg.hex_payload;\nvar targetPorts = '01' ;\n\nmsg.headers = {};\nmsg.headers['Content-Type'] = 'application/json';\nmsg.headers['Accept'] = 'application/json';\nmsg.headers['Authorization'] = 'Bearer '+token;\n\nmsg.payload = {};\nmsg.payload['payloadHex'] = payloadHex;\nmsg.payload['targetPorts'] = targetPorts;\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 280,
        "wires": [
            [
                "d00c213b743be8df",
                "07c26dde1f96a480"
            ]
        ]
    },
    {
        "id": "4e681f105a9738e1",
        "type": "json",
        "z": "3cabf436210a7c6a",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 260,
        "y": 245,
        "wires": [
            [
                "b73999a09c455f53"
            ]
        ]
    },
    {
        "id": "37e68edbe31d22b1",
        "type": "comment",
        "z": "3cabf436210a7c6a",
        "name": "--------------------------------------API CATtelecom LORA GATEWAY---------------------------------------------------",
        "info": "",
        "x": 520,
        "y": 105,
        "wires": []
    },
    {
        "id": "b73999a09c455f53",
        "type": "function",
        "z": "3cabf436210a7c6a",
        "name": "get",
        "func": "\nmsg.topic = \"SELECT deviceId,deviceStatus FROM device;\";\nmsg.access_token = msg.payload.access_token ;\nmsg.payload = null;\n return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "\n",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 245,
        "wires": [
            [
                "eb76e389496510cc"
            ]
        ]
    },
    {
        "id": "eb76e389496510cc",
        "type": "sqlite",
        "z": "3cabf436210a7c6a",
        "mydb": "438fde553d5151cb",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "sqlite3",
        "x": 540,
        "y": 245,
        "wires": [
            [
                "519dd79071e048e9"
            ]
        ]
    },
    {
        "id": "519dd79071e048e9",
        "type": "function",
        "z": "3cabf436210a7c6a",
        "name": "dec to hex",
        "func": "msg.topic = null;\nvar id = [];\nvar status = []; \nvar sum = \"\"\nfor(let i = 0 ;i < msg.payload.length;i++){\n    id.push(msg.payload[i].deviceId.toString(16) )\n    status.push(msg.payload[i].deviceStatus.toString(16) );\n \n   \n}\n let ids = id;\n let sta = status;\n \nfor (let i = 0; i < id.length; i++) {\n   sum += ids[i].concat(sta[i])\n}\n\nsum += (msg.setZero)?\"FF\":\"00\"\n\nmsg.hex_payload=sum;\n//msg.payload = null;\n\n return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "\n",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 245,
        "wires": [
            [
                "fdbd511870b195e7"
            ]
        ]
    },
    {
        "id": "babc4f4842e13260",
        "type": "http response",
        "z": "3cabf436210a7c6a",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 710,
        "y": 350,
        "wires": []
    },
    {
        "id": "07c26dde1f96a480",
        "type": "debug",
        "z": "3cabf436210a7c6a",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 895,
        "y": 315,
        "wires": []
    }
]